#landing-page-flex {
  /* transform: translate(50%, 50%); */
  height: 100vh;
  /* width: 100vw; */
  display:flex;
  margin: 0 auto;
  /* flex direction default is row so set it column */
  flex-direction: column;
  /* text is center */
  justify-content: center;
  align-items: center;
}

.top-level-wrapper-flex {
  display:flex;
  flex-direction: column;
  /* where do I want my main axis to be here I want centered 
  https://youtu.be/wBlBTO7mqoI?t=1050
  */
  /* use outline when testing this doesn't takce up any space! */
  /* outline: 3px red; */
  justify-content: center;
  align-items: center;
}


/* to animate: 1) call the animation name, 2) set keyframes time and (x,y) coordinates*/
.bouncy {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-name: bounce;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
/* tell css how bounce will behave */
/* @keyframes bounce {
  0% {
    transform: translate(0, 0)
  } */
  /* https://css-tricks.com/css-keyframe-animation-delay-iterations/ 
   https://css-tricks.com/almanac/properties/a/animation/
  */
@keyframes bounce {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(0, 4rem);
  }
  60% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(0, 2rem);
  }
  90% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}